{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'appweather/style.css' %}">
    

</head>
<body>
    <div class="card">
        <form method="post">
            <div class="search">
                {%csrf_token%}
                <input type="text" name="city" placeholder="Enter City name.." spellcheck="false">
                <button type="submit">GO</button>
            </div>
        </form>
        
        <div class="weather">
            {%if weather_data%}
               <div class="dtemp">
                <h1 class="temp">{{weather_data.temperature}}°C</h1>
               </div>
               <div class="dcity">
                <h2 class="city">{{weather_data.city}}</h2>
               </div>
                
                <div class="details">
                    <div class="col">
                        <div>
                            <p class="humidity">
                                <i class="fas fa-tint"></i> {{ weather_data.humidity }}%
                              </p>
                              
                            <p>Humidity</p>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <p class="wind">
                                <i class="fa-solid fa-wind"></i>{{weather_data.wind}} km/h
                            </p>
                            
                        </div>
                    </div>
                </div>

                <div class="avgtemp">
                    <p>Average Temp: {{avg_temp}}°C</p>
                </div>

            {%else%}

            <div>
                <p style="color:black; font-size:small">{{error_message}}</p>
            </div>

            {%endif%}
        </div>
    </div>

    <div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var temperature = {{ weather_data.temperature|default:"null" }};  // Use "null" as default if temperature is not defined

            if (temperature === null) {
                return; // Do nothing if temperature is not defined
            }

            if (temperature > 30) {
                Swal.fire({
                    title: 'High Temperature Alert!',
                    text: 'The temperature is above 30°C. Stay indoors!',
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });
            } else if (temperature < 19) {
                Swal.fire({
                    title: 'Low Temperature Alert!',
                    text: 'The temperature is below 19°C. Stay heated!',
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });
            } else {
                Swal.fire({
                    title: 'Temperature Status',
                    text: 'Temperature is within a normal range.',
                    icon: 'info',
                    confirmButtonText: 'OK'
                });
            }
        });
    </script>

</body>
</html>