<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <form method="post">
        {%csrf_token%}
        <input type="text" name="city" placeholder="Enter your city..">
        <button type="submit">Enter</button>
    </form>

    <div class="week">
        {%if weather_data%}
            <div class="city">
                <h1> {{weather_data.temparature}} </h1>
                <h2> {{weather_data.icon}} </h2>
            </div>
        {%endif%}
    </div>
</body>
</html>